<header class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TUTTI DRUYAN", root_path, id: "logo" %>
      <nav>
      <ul></ul>
        <ul class="nav pull-left">
          <li><%= link_to "Events", workhorses_events_path %></li>
          <li><%= link_to "Announcements", workhorses_announcements_path %></li>
          <li><%= link_to "Bio", workhorses_bio_path %></li>
          <li><%= link_to "Music", workhorses_music_path %></li>
          <li><%= link_to "Photos", workhorses_photos_path %></li>
          <li><%= link_to "Voice Overs", workhorses_voice_overs_path %></li>
          <li><%= link_to "Contact", workhorses_contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

